.group {
    border: 1px solid gray;
    margin: 40px;
    padding: 30px;
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botaoDetalhes {
    cursor: pointer;
    padding: 2px;
}