.group-remocao {
    border: 1px solid gray;
    margin: 40px;
    padding: 30px;
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botaoRemover {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s all;

    &:hover {
        color: rgb(255, 62, 62);
    }
}
