.cadastroClienteContainer {
    margin: 0 auto;
    width: 60vw;
    min-width: 500px;
    padding: 0px;
}

.campo01 {
    padding: 15px;
    display: flex;
}

.campo02 {
    padding: 15px;
    display: flex;
}

.campo03 {
    padding: 15px;
    display: flex;
}

.campo04 {
    padding: 15px;
    display: flex;
}

.campoNome { 
    margin-right: 45px;
}

.campoCPF {
    margin-right: 45px;
}

.campoEmail {
    margin-right: 45px;
}

.campoRua {
    margin-right: 45px;
}

.campoNumero {
    margin-right: 45px;
}

.campoCidade {
    margin-right: 45px;
}

.botaoCadCliente {
    padding: 15px;
}