.relatorios__title {
    margin: 0 190px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin: 0 190px;
    padding: 15px 0;

    // seleciona todas as divs em que o pai é o grid-container
    &>div {
        border: 1px solid black;
        padding: 20px;
        text-align: center;
    }
}

.actions-box {
    grid-area: 2 / 2 / 3 / 4;
    text-align: left !important;
    padding-top: 0 !important;

    &>.buttons {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 25px;
        justify-items: center;
        padding: 0 60px;

        div {
            button {
                width: 220px;
            }
        }
    }
} 

.livrosCad {
    grid-area: 1 / 1 / 2 / 2;
}

.livrosRes {
    grid-area: 1 / 2 / 2 / 3;
}

.livrosEmp { 
    grid-area: 1 / 3 / 2 / 4;
}

.clientesCad {
    grid-area: 2 / 1 / 3 / 2;
}

.svg {
    width: 35%;
}

.numero {
    font-size: 1.1em;
    color: #FE2E2E;
}