.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 40px; 
    margin-bottom: -40px;
}

.group {
    border: 1px solid gray;
    margin: 90px;
    padding: 30px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}