.financeiro_container {
    margin: 10px 150px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__importButton {
        font-weight: bold;
        align-self: center;
    }
}

.pdfButton {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(46, 116, 223);
    text-decoration: underline;
}
