.headCell {
    font-weight: bold !important;
}

.red {
    padding: 4px;
    border-radius: 10px;
    background-color: #F0D3C9;
    color: #C63F3F;
    font-weight: 600;
}

.green {
    background-color: #BFDBBE;
    color: #3D8C3A;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}