.form {

    div {
        justify-content: center;
    }
}

.campo1 {
    padding: 15px;
    display: flex;
}

.campo2 {
    padding: 15px;
    display: flex;
}

.campo3 {
    padding: 15px;
    display: flex;
}

.campoISBN {
    margin-right: 25px;
}

.campoISSN {
    margin-right: 25px;
}

.campoAutor {
    margin-right: 25px;
}

.campoTitulo {
    margin-right: 25px;
}

.campoEditora {
    margin-right: 25px;
}

.campoAno {
    margin-right: 25px;
}

.campoDescricao {
    padding: 15px;
}

.botaoCadLivro {
    padding: 15px;
}