.back {
    // border: 1px solid red;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    h5 {
        
        text-align: center;
    }

    img {
        width: 200px;
    }
}

// .back::before {
//     content: '';
//     background-image: url('../../assets/blue-circle.png');
//     background-repeat: no-repeat;
//     background-size: initial;
//     background-position: center;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     opacity: 0.5;
//     z-index: -1;
// }