@import '../../assets/variaveis';

.acervo_prot {
    display: flex;
}

.sidenav {
    min-height: 100vh;
    width: 210px;
    position: relative;
    z-index: 1;
    left: 0;
    overflow-x: hidden; 

    h3 {
        padding: 20px;
        text-align: center;
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #C4C4C4;
        display: block;
    }
}

.pageContent {
    width: 100%;
}

.pagecon img {
  width: 100%;
  height: 200px;
}

.conteudo {
    padding: 0 20px;
}