.importContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form{
        border: 1px solid black;
        padding: 30px;
        margin-top: 20px;
        width: 455px;
    }
}

.bread {
    margin: 40px 0 0 40px;
}

.btn {
    margin: 8px !important;
}

.submitBtn {
    display: block !important;
    margin: 15px auto 0!important ;

}