.importContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bread {
    margin: 40px 0 0 40px;
}

.btn {
    margin: 8px !important;
}

.submitBtn {
    display: block !important;
    margin: 15px auto 0!important ;
}