.cadastroFuncionarioContainer {
    margin: 0 auto;
    width: 60vw;
    min-width: 500px;
}

.padd-15-flex {
    padding: 15px;
    display: flex;
}

.margin-r-45 {
    margin-right: 45px;
}

.campoSenha {
    padding: 15px;
}

.botaoCadFuncionario {
    padding: 15px;
}

.admCheckbox {
    padding: 0 15px ;
}